<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"  version="6.0">
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <jsp-file>/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <display-name>VeloCab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>signup.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservelet</display-name>
    <servlet-name>loginservelet</servlet-name>
    <servlet-class>loginservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservelet</servlet-name>
    <url-pattern>/loginservelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDriverServlet</display-name>
    <servlet-name>AddDriverServlet</servlet-name>
    <servlet-class>driver.AddDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriverServlet</servlet-name>
    <url-pattern>/AddDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TravellerInfoServlet</display-name>
    <servlet-name>TravellerInfoServlet</servlet-name>
    <servlet-class>p1.TravellerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravellerInfoServlet</servlet-name>
    <url-pattern>/TravellerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Travel</display-name>
    <servlet-name>Travel</servlet-name>
    <servlet-class>Travel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Travel</servlet-name>
    <url-pattern>/Travel</url-pattern>
  </servlet-mapping>
</web-app>